body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  line-height: 1.4;
}

input, textarea {
  font-family: 'PT Sans', sans-serif;
}

b {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.page-header {
  background-color: #ffcd34;
  padding: 20px 0;
  position: relative;
}

.page-header a {
  float: left;
  line-height: 1;
  padding-top: 4px;
}

.page-header img {
  vertical-align: middle;
}

.page-header span {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 5px;
}

.page-header nav {
  float: right;
}

.clearfix {
  clear: both;
}

.page-header li {
  display: inline-block;
}

.page-header li a {
  font-size: 16px;
  display: block;
  padding: 12px 20px;
  border: 2px solid transparent;
}

.page-header li a:hover {
  border: 2px solid #bc9d36;
}

.page-header li a:active {
  border: 2px solid #796e38;
}

.page-header .nav-button {
  background-color: #ffe184;
}

.page-header .nav-button:hover {
  background-color: #ffecb2;
  border: 2px solid transparent;
}

.page-header .nav-button:active {
  background-color: #f6bf16;
}

.stripe:before {
  content: '';
  display: block;
  width: 100%;
  height: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
  background-size: 35px 14px;
}

.promo {
  background-image: url('../images/promo.jpg');
  padding: 125px 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.promo .container {
  text-align: center;
  font-weight: bold;
}

.promo p {
  font-size: 44px;
  text-transform: uppercase;
  color: #fff;
}

.promo h1 {
  color: #e2e2e2;
  font-size: 20px;
  font-weight: normal;
  padding: 10px 0 40px;
}

.promo .promo-button {
  color: #fff;
  border: 2px solid #ffcd34;
  font-size: 16px;
  padding: 8px 75px 8px 15px;
  position: relative;
}

.promo .promo-button:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url('../images/arrow-icon.png');
  background-size: 100%;
  width: 13px;
  height: 19px;
  right: 10px;
  top: 8px;
}

.consult {
  background-color: #202e3b;
  padding: 25px 0 30px;
}

.consult .row {
  margin: 0 -10px;
}

.consult h2 {
  color: #ffcd34;
  font-size: 24px;
  padding-bottom: 20px;
}

.consult .column {
  width: 25%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.consult input[type='text'] {
  background-color: #202e3b;
  border: 1px solid #ffcd34;
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
}

.consult input::-webkit-input-placeholder {
  color: #fff;
}

.consult .button-consult {
  width: 100%;
}

.button {
  background-color: #ffcd34;
  cursor: pointer;
  color: #202e3b;
  font-weight: bold;
  font-size: 18px;
  outline: 0;
  border: 0;
  padding: 9px 20px;
}

.button:hover {
  background-color: #ffd966;
}

.button:active {
  background-color: #f6bf16;
}

.features ul {
  margin: 40px 0;
}

.features li {
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  padding-left: 52px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center left;
}

.features li:nth-child(1) {
  background-image: url('../images/tools.png');
  padding-left: 60px;
  width: 26%;
  padding-right: 20px;
}

.features li:nth-child(2) {
  background-image: url('../images/worker.png');
  padding-left: 65px;
  width: 26%;
}

.features li:nth-child(3) {
  background-image: url('../images/fence.png');
  padding-left: 60px;
  width: 26%;
}

.features li:nth-child(4) {
  background-image: url('../images/workman.png');
  padding-left: 50px;
  width: 20%;
}

.deals {
  background-color: #f3f3f3;
  padding-top: 45px;
  padding-bottom: 55px;
  position: relative;
}

.deals aside, .catalog aside {
  float: left;
  width: 25%;
}

.deals section {
  float: left;
  width: 75%;
}

.deals aside h2, .deals section h2, .contacts-reviews h2, .catalog aside h2, .catalog-deals h2 {
  font-size: 26px;
  font-weight: bold;
}

.deals aside a, .catalog .equipment a {
  font-size: 16px;
  text-decoration: underline;
}

.deals aside a:hover, .catalog .equipment a:hover {
  text-decoration: none;
}

.deals li, .catalog li {
  margin: 15px 0;
}

.deals table {
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

.deals th {
  font-weight: bold;
  text-align: left;
}

.deals tr:first-child {
    background-color: #dfdfdf;
}

.deals tr:nth-child(2n+1) td {
    background-color: #fff;
}

.deals td, th {
  padding: 5px 0;
}

.deals td:first-child, th:first-child {
  padding-left: 10px;
}

.about {
  background-color: #202e3b;
  padding-top: 40px;
  padding-bottom: 60px;
  position: relative;
}

.about .number {
  float: left;
  width: 35%;
}

.about .reviews {
  float: left;
  width: 65%;
}

.about h2 {
  font-size: 26px;
  color: #fff;
}

.about .number span {
  font-size: 38px;
  color: #f1b132;
  font-weight: bold;
  padding-right: 15px;
}

.about ul {
  margin-top: 20px;
}

.about li {
  color: #9e9e9e;
  font-weight: bold;
  margin-bottom: 10px;
}

.about img {
  border: 3px solid #f1b132;
  border-radius: 3px;
  margin-right: 25px;
}

.about blockquote {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  line-height: 1.3;
}

.about p {
  color: #fff;
  font-style: italic;
  padding-bottom: 5px;
}

.about blockquote span {
  color: #f1b132;
  font-weight: bold;
}

.about .reviews div {
  margin-top: 30px;
}

#map {
  height: 500px;
}

.page-footer {
  background-color: #202e3b;
}

.page-footer span {
  color: #ffcd34;
}

.page-footer li a {
  color: #fff;
  border: 2px solid transparent;
}

.page-header li a:hover {
  border: 2px solid #636d76;
  background-color: transparent;
}

.page-header li a:active {
  border: 2px solid #a6abb1;
}

.page-footer .nav-button {
  background-color: transparent;
  color: #ffcd34;
}

.page-footer .nav-button:hover {
  background-color: transparent;
  border: 2px solid transparent;
}

.page-footer .nav-button:active {
  background-color: transparent;
}

.portfolio-header {
  background-image: url('../images/portfolio-header.jpg');
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-header h2 {
  float: left;
  font-size: 24px;
  color: #ffcd34;
}

.portfolio-header ul {
  float: right;
}

.portfolio-header li {
  display: inline-block;
  margin-left: 40px;
}

.portfolio-header a {
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
}

.portfolio-header a:hover {
  font-weight: bold;
}

.portfolio-header a:active {
  font-weight: bold;
  text-decoration: none;
}

.portfolio-item-one, .portfolio-item-two, .portfolio-item-three {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid #000;
}

.portfolio-item-one {
  background-image: url('../images/home-one.jpg');
  background-position: 0 35%;
}

.portfolio-item-two {
  background-image: url('../images/home-two.jpg');
  background-position: 0 60%;
}

.portfolio-item-three {
  background-image: url('../images/home-three.jpg');
  background-position: 0 45%;
}

.portfolio-item {
  background-color: #fff;
  width: 330px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  top: 100px;
}

.portfolio-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.portfolio-item p {
  font-size: 14px;
  margin-bottom: 20px;
}

.portfolio-item a {
  background-color: #ffcd34;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
}

.contacts-header {
  background-image: url('../images/contacts-header.jpg');
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-header .left{
  float: left;
}

.contacts-header .right {
  float: right;
}

.contacts-header h2 {
  font-size: 26px;
  color: #ffcd34;
  display: inline-block;
}

.contacts-header p {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding-left: 15px;
}

#map-contacts {
  width: 620px;
  height: 400px;
  float: left;
}

.container-contacts {
  background-color: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 50px;
}

.contacts {
  float: left;
  width: 320px;
  box-sizing: border-box;
  padding-left: 20px;
}

.contacts .phone {
  background-image: url('../images/phone.gif');
  background-repeat: no-repeat;
  padding-left: 40px;
  background-position: 0 2px;
  padding-bottom: 15px;
  font-weight: bold;
}

.contacts .email {
  background-image: url('../images/mail.gif');
  background-repeat: no-repeat;
  padding-left: 40px;
  background-position: 0 4px;
  padding-bottom: 20px;
  font-weight: bold;
}

.contacts .order-consult {
  font-size: 16px;
  padding-bottom: 10px;
}

.contacts input[type='text'], .contacts textarea {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 15px;
  color: #000;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.contacts input::-webkit-input-placeholder, .contacts textarea::-webkit-textarea-placeholder {
  color: #b0b0b0;
}

.contacts textarea {
  height: 100px;
  margin-bottom: 8px;
}

.contacts .button-consult {
  background-color: #354b60;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  outline: 0;
  border: 0;
  padding: 9px 20px;
  width: 100%;
}

.contacts-reviews {
  padding: 30px;
}

.contacts-reviews .row {
  margin: 15px -10px 0 -10px;
}

.contacts-reviews .column {
  width: 25%;
  float: left;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.contacts-reviews img {
  margin-bottom: 15px;
  border-radius: 50%;
}

.contacts-reviews blockquote {
  font-size: 14px;
  color: #202e3b;
}

.contacts-reviews p {
  font-style: italic;
}

.contacts-reviews span {
  margin-top: 10px;
  font-weight: bold;
  display: block;
}

.catalog-header {
  background-image: url('../images/catalog-header.jpg');
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-header .left{
  float: left;
  width: 70%;
}

.catalog-header .right {
  float: right;
  width: 30%;
}

.catalog-header h2 {
  font-size: 26px;
  color: #ffcd34;
}

.catalog-header p {
  color: #fff;
  font-size: 16px;
  padding-top: 10px;
}

.catalog {
  background-color: #f3f3f3;
  padding-top: 30px;
}

aside.equipment{
  float: left;
  width: 240px;
  margin-right: 100px;
}

aside.equipment h2 {
  background-image: url('../images/car.png');
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 45px;
}

.catalog .equipment li.active a {
  font-weight: bold;
  text-decoration: none;
}

.catalog .equipment li.active a:before {
  content: '';
  display: inline-block;
  background-image: url('../images/arrow-icon-black.png');
  background-size: 100%;
  width: 7px;
  height: 11px;
  margin-right: 10px;
}

aside.equipment li:last-child {
  margin-top: 30px;
}

aside.equipment .downloads {
  background-color: #354b60;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 25px 10px 45px;
  background-image: url('../images/download-icon.png');
  background-repeat: no-repeat;
  background-position: 13px 10px;
  text-decoration: none;
}

aside.equipment .downloads:hover {
  background-color: #46617a;
}

aside.equipment .downloads:active {
  background-color: #567999;
}

.catalog-list.row {
  float: left;
  width: 620px;
  margin-left: -10px;
  margin-right: -10px;
}

.catalog-list .column, .catalog-deals .column {
  float: left;
  padding: 25px 30px 35px 30px;
  box-sizing: border-box;
  width: 300px;
  background-color: #fff;
  margin-bottom: 20px;
}

.catalog-list .column img {
  margin-top: 20px;
  margin-bottom: 30px;
}

.catalog-list .column:nth-child(2n) {
  margin-left: 20px;
}

.catalog-list .column h3, .catalog-deals .column h3 {
  font-size: 21px;
  font-weight: bold;
}

.catalog-list .column p, .catalog-deals .column p {
  font-weight: bold;
  margin-bottom: 15px;
}

.catalog-list .column span, .catalog-deals .column span {
  font-size: 27px;
}

.catalog-list .column .button-item, .catalog-deals .column .button-item {
  display: table-row;
}

.catalog-list .column .rent, .catalog-list .column .read-more, .catalog-deals .column .rent, .catalog-deals .column .read-more {
  padding: 8px 20px;
  font-size: 16px;
  display: table-cell;
  color: #fff;
  font-weight: normal;
}

.catalog-list .column .rent, .catalog-deals .column .rent {
  background-color: #f3c331;
}

.catalog-list .column .rent:hover, .catalog-deals .column .rent:hover {
  background-color: #ffd966;
}

.catalog-list .column .rent:active, .catalog-deals .column .rent:active {
  background-color: #ffc600;
}

.catalog-list .column .read-more, .catalog-deals .column .read-more {
  background-color: #354b60;
}

.catalog-list .column .read-more:hover, .catalog-deals .column .read-more:hover {
  background-color: #46617a;
}

.catalog-list .column .read-more:active, .catalog-deals .column .read-more:active {
  background-color: #567999;
}

.catalog .pagination {
  text-align: center;
  margin-bottom: 20px;
}

.catalog .pagination li {
  display: inline-block;
  line-height: 1;
}

.catalog .pagination li a {
  padding: 5px 9px 3px 9px;
  display: block;
  border: 2px solid transparent;
}

.catalog .pagination li a:hover {
  border: 2px solid #9aa5af;
}

.catalog .pagination li a:active {
  border: 2px solid #354b60;
}

.catalog .pagination li.active {
  background-color: #354b60;
}

.catalog .pagination li.active a {
  color: #fff;
}

.catalog-deals {
  background-image: url('../images/catalog-deals.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 83%;
}

.catalog-deals h2 {
  color: #fff;
  padding-top: 45px;
  padding-bottom: 25px;
}

.catalog-deals .row {
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 50px;
}

.catalog-deals .column:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

.catalog-deals .column p {
  font-size: 18px;
}

.catalog-deals .column span {
  font-size: 22px;
}

.catalog-deals .column span.sell {
  color: #d12222;
  text-decoration: line-through;
}
